@import url('https://fonts.googleapis.com/css?family=Muli:400,600,600i,700,700i,800,800i,900,900i');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Muli, sans-serif;
    color: #707d8f;
    font-size: 18px;
    line-height: 29px;
}

// HEADER
.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 86px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #2e3261;
}

.w-nav {
    position: relative;
    background: #176abd;
    z-index: 1000;
}

.w-nav:before, .w-nav:after {
    content: " ";
    display: table;
}

.w-nav:after {
    clear: both;
}

.content-wrapper {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1070px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.brand {
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.nav-menu {
    display: inline-block;
    width: 80%;
    float: none;

    .socials {
        float: right;
        padding: 25px;
        
        a {
            margin: 0 5px;
            text-decoration: none;
        }

        img {
            max-height: 30px;
            width: auto;
        }
    }
}

.w-nav-menu {
    position: relative;
    float: right;
}

.nav-link {
    position: relative;
    overflow: hidden;
    padding: 32px 28px 25px;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.register {
    position: relative;
    background-color: #2e3261;
}

.nav-link.register {
    height: 86px;
    padding-right: 37px;
    padding-left: 37px;
    float: right;
    background-color: transparent;
    background-image: -webkit-linear-gradient(174deg, #1860ab, #165da6);
    background-image: linear-gradient(174deg, #1860ab, #165da6);
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.nav-link.btn-inscricao {
    background-image: linear-gradient(174deg, #f44686, #d73e76);
}

.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// SECTION: Intro
.intro-section {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    background-image: -webkit-linear-gradient(270deg, opacify(#1978d7, .1), opacify(#1978d7, .1)), url(http://uploads.webflow.com/5727cdb3639cfa231e7b21d8/573659a0eea54c982f2a9d37_photo-1445359179985-460648949e10.jpg);
    background-image: linear-gradient(180deg, opacify(#1978d7, .1), opacify(#1978d7, .1)), url(http://uploads.webflow.com/5727cdb3639cfa231e7b21d8/573659a0eea54c982f2a9d37_photo-1445359179985-460648949e10.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.intro-text {
    position: relative;
    text-align: center;
}

.mini-vs {
    position: relative;
    z-index: 1;
    font-family: Montserrat, sans-serif;
    color: #707d8f;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    top: -65px;

    img {
        height: 80px;
    }
}

.box-bg {
    position: absolute;
    top: -94px;
    z-index: 0;
    width: 100%;
    min-height: 630px;
}

.intro-block-1 {
    position: relative;

    h1 {
        font-family: 'Muli', sans-serif;
        font-size: 70px;
        font-weight: 800;
        color: #fff;
    }
}

.underline {
    display: inline-block;
    width: 95px;
    height: 5px;
    margin-top: 45px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fff;
}

.underline.crimson {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.intro-block-2 {
    position: relative;
    z-index: 10;
    overflow: hidden;
    color: #fff;
}

.bar-geometric {
    position: absolute;
    bottom: -241px;
    overflow-x: hidden;
    width: 100%;

    svg {
        position: relative;
        left: -136px;
        transform: scaleY(0.7);
    }
}

.logo-techday {
    position: absolute;
    left: calc(50% - 140px);
    bottom: -550px;

    .filled-rect {
        background-color: rgb(255, 74, 142);
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .main-rect {
        position: relative;
        z-index: 3;
        padding: 50px 38px;
        background-color: #1978d7;
        width: 280px;
        height: 283px;
        box-shadow: 0px 45px 250px 0px rgba(0, 0, 0, 0.52),inset 61.131px 53.141px 250px 0px rgba(0, 0, 0, 0.19);
    }

    .unfilled-rect {
        border-width: 8px;
        border-color: rgb(255, 74, 142);
        border-style: solid;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: 1;
        bottom: 0px;
        right: 0;
    }


}

#logoTechDay {
  path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
  }
}

$strokeTime: 1s;
$fillTime: 0.3s;

.animatable {
  transition: stroke-dashoffset $strokeTime ease, fill $fillTime ease $strokeTime - $fillTime - 0.1s;
}

// SECTION: Speakers
.speakers-section {
    display:block;
    margin-top: 300px;
    width:100%;

    h2 {
        text-align: center;
    }
  
    .speaker {
      display: inline-block;
      margin: 30px 0;
  
      .talk-time {
        border-right: 1px solid #176abd;
        color: #176abd;
        display: inline;
        float: left;
        font-size: 24px;
        font-weight: bold;
        margin: 85px 5% 0 0;
        padding: 10px 0;
        width: 30%;
      }
  
      .speaker-photo {
        background: url(../img/bg-speaker.png) no-repeat center transparent;
        background-size: 100% auto;
        display: inline;
        float: left;
        width: 25%;
        position: relative;

        &.speaker-lunch {
            background: none;
        }
  
        img {
          height: auto;
          max-width: 90%;
          margin: 5%;
        }

        .talk-icon {
            width: 70px;
            height: 70px;
            position: absolute;
            bottom: 0;
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
            transform: translateY(-20px) scale(0);
            

            img {
                width: 100%;
                max-width: 100%;
                margin: 0;
            }
        }
      }
  
      .speaker-details {
        display: inline;
        float: left;
        margin-left: 5%;
        width: 35%;
  
        h3 {
          color: #176abd;
          font-size: 22px;
          margin-top: 45px;
        }
  
        span {
          color: #d4d4d4;
          font-size: 16px;
        }
  
        p {
          color: #666666;
          margin-top: 15px;
        }
      }
    }
  }
  
  // SECTION: About
  .about-section {
    display:block;
    margin: 50px 0;
    padding:75px 0;
    width:100%;
    background-image: url('../img/geometrics.png');

    .content-wrapper {
        display: flex;
        padding: 0;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.11);
        box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.11);
    }

    .about-logo {
        background-color: #176abd;
        width: 40%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 190px;
        }

        .square-border {
            position: absolute;
            bottom: -41px;
            right: -50px;
        }
    }
  
    .content {
      background-size: auto 100%;
      width: 60%;
      padding: 45px 30px;
      position:relative;
  
      
  
      h2 {
        background: url(../img/line.png) no-repeat left center transparent;
        display: inline;
        text-align: left;
        line-height: 0;
        margin-left: 15px;
        padding-left: 60px;
        padding-top: 0;
        font-weight: normal;
        color: #176abd;
      }
  
      p {
        font-size: 17px;
        line-height: 24px;
        margin-left: 80px;
        margin-top: 30px;
        text-align: left;
      }
  
      svg {
        bottom: -35px;
        position:absolute;
        right: -35px;
      }
    }
  
  }
  
  // SECTION: Sponsors
  .sponsors-section {
    display:block;
    margin: 50px 0;
    width:100%;

    h2 {
        text-align: center;
    }
  
    ul, ol {
      display: inline-block;
      list-style: none;
      margin: 50px 0 0;
      padding: 0;
      width: 100%;
    }
  
    ul li {
      display: inline;
      float: left;
      margin: 0 4% 45px;
      width: 25.33%;
    }
  
    li img {
      height: auto;
      max-width: 100%;
    }
  }
  
  // SECTION: Place
  .place-section {
    background-size: 100% auto;
    display:block;
    margin: 50px 0;
    min-height: 500px;
    position:relative;
    text-align: center;
    width:100%;
    overflow-x: hidden;
  
    h2 {
      margin-bottom: 30px;
    }
  
    h3 {
      color: #333333;
      font-size: 16px;
      font-weight: normal;
      margin: 0 0 30px;
      text-align: center;
    }
  
    svg {
      display: block;
      margin: 15px auto;
    }
  
    a {
      background-color: #176abd;
      color: #feffff;
      display: inline-block;
      font-size: 16px;
      margin-top: 15px;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  
    .local-image {
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 70%;

      .logo-salesiano {
        position: absolute;
        top: 300px;
        left: calc(50% - 155px);
        transform: scale(5);
        opacity: 0;
      }

      .local-pink {
          position: absolute;
          width: 70%;
          top: 118px;
          left: calc(50% - 35%);
          opacity: .9;
      }

      .local-blue {
        position: absolute;
        width: 70%;
        top: 118px;
        left: calc(50% - 35%);
        opacity: .9;
    }
  
      img {
        max-width: 100%;
      }
    }
  }
  
  // SECTION: footer
  .footer {
    background-color: #176abd;
    color: #ffffff;
    display: inline-block;
    min-height: 30px;
    padding: 15px 0;
    width: 100%;
    img {
      max-height: 30px;
      width: auto;
    }
  
    .column-left {
      display: inline;
      float: left;
      width:82%;
    }
  
    .column-right {
      border-left: 1px solid #ffffff;
      display: inline;
      float: left;
      text-align: right;
      width:18%;
  
      a {
        text-decoration: none;
        margin: 0 10px;
      }
  
      a:hover {
        opacity: .85;
      }
    }
  
  }

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

// Small Desktop
@media screen and (max-width: 1370px) {
    .intro-block-1 {
        h1 {
            font-size: 60px;
        }
    }

    .mini-vs {
        top: -20px;

        img {
            height: 50px;
        }
    }

    .underline {
        margin-top: 25px;
    }

    .intro-section {
        padding-top: 5%;
        padding-bottom: 8%;
    }

    .logo-techday {
        left: calc(50% - 100px);
        bottom: -150px !important;
        .main-rect {
            width: 200px;
            height: 203px;
            padding: 40px 35px;
        }
    }
}

@media screen and (max-width: 800px) {
    .nav-menu {
        width: 70%;
    }

    .intro-section {
        padding-top: 14%;
        padding-bottom: 19%;
    }

    .about-section {
        
        .content-wrapper {
            max-width: 90%;
        }

        .content {
            h2 {
                background: none;
                padding-left: 0;
            }
            p {
                margin-left: 10px;
            }
        }

        .about-logo {
            .square-border {
                right: 15px;
            }
        }
    }
    .place-section {
        .local-image {
            .logo-salesiano {
                top: 255px;
                transform: scale(2);
            }

            .local-pink,
            .local-blue {
                display: none;
            }
        }
    }
}

// MOBILE
@media screen and (max-width: 414px) {
    .w-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
    .w-header .w-nav-menu {
        width: 100%;
    }
    .w-header .nav-link.register {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }
    .nav-link.btn-palestra {
        display: none;
    }

    .nav-menu .socials {
        display: none;
    }
    

    .brand {
            width: 100%;
            text-align: center;
    }
    .intro-block-1 {
        h1 {
            font-size: 34px;
        }
    }

    .mini-vs {
        top: -13px;

        img {
            height: 50px;
        }
    }

    .underline {
        margin-top: 18px;
    }

    .intro-section {
        padding-top: 12%;
        padding-bottom: 35%;
    }

    .logo-techday {
        left: calc(50% - 100px);
        bottom: -550px;
        .main-rect {
            width: 200px;
            height: 203px;
            padding: 40px 35px;
        }
    }

    .speakers-section {
        .speaker {
            display: flex;
            flex-direction: column;
            width: 100%;

            .talk-time {
                width: 36%;
            }

            .speaker-photo {
                width: 100%;
            }

            .speaker-details {
                width: 100%;
            }
        }
    }

    .about-section {
        .content {
            width: 100%;
        }

        .about-logo {
            display: none;
        }
    }

    .place-section {
        .local-image {
            .logo-salesiano {
                width: 150px;
                left: calc(50% - 73px);
                top: 184px;
            }
        }
    }

    .footer .column-left {
        width: 59%;
    }
    .footer .column-right {
        width: 38%;
    }
}
